body {
    background-color: white;
}

/*h1 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: blue;
    color: white;
    font-size: 75px;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}*/

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
}

#quote-text {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    text-align: center;
    margin: none;
}

#quote-author {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    margin-top: 50px;
    font-size: 30px;
}

#quote-up {
    margin-bottom: -60px;
    margin-top: 50px;
}

#quote-down {
    margin-top: -30px;
}

/*
.quote-ticks {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    background-color: green;
}
*/

#footer {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-new-quote {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    font-size: 10px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 35px;
}
